@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Caveat";
  src: url("/fonts/Caveat/variable-weights.ttf");
}

@font-face {
  font-family: "Chilanka";
  src: url("/fonts/Chilanka/chilanka-regular.ttf");
}

* {
  box-sizing: border-box;
  font-size: 18px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    "Chilanka",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  /* background-color: #f9f8f7; */
  background-color: #efedec;
}
